---
interface Props {
    data: {
    authors: string;
    title: string;
    pubin: string;
    extra: string;
  };
  url: string;
}

const { data, url } = Astro.props
---
<li>{data.authors}. <a href={url}>{data.title}</a>, in <i>{data.pubin}</i>, {data.extra}. </li>
